body {
    font-family: "Noto Sans TC", sans-serif;
    background-color: #f9f9f9;
    padding-top: 60px;
}

.thead-custom {
    background-color: burlywood;
}

.navbar-light {
    background-color: #f8f2e9 !important;
    /* 柔和米色 */
}

.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 1.6rem;
    color: #4e4e4e;
}

.navbar-light .nav-link {
    color: #4e4e4e;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar-light .nav-link:hover {
    color: #c48b5f;
}

.navbar-nav .btn {
    background-color: #d19f72;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 6px 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-custom {
    background-color: #d19f72;
    color: #4e4e4e;
    border-radius: 20px;
    border: none;
    padding: 6px 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #b9845e;
}

.navbar-nav .btn:hover {
    background-color: #b9845e;
}

.btn-material :hover {
    background-color: burlywood;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
}

.btn-material {
    border: none;
    transition: 0.3s;
}


.footer {
    text-align: center;
    background-color: #f8f2e9;
    color: #333;
    padding: 2rem 1rem;
    width: 100%;
}

.footer p {
    margin-bottom: 0.2rem;
}

.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#cart-badge {
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
    border-radius: 999px;
}

/* 右下角置頂按鈕 */
#backToTop {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #d19f72;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#backToTop:hover {
    background-color: #b9845e;
}

.form-custom {
    background-color: #f8f2e9;
    padding: 20px 50px;
    margin-bottom: 100px;
    width: 350px;
    border-radius: 50px;
    border: 5px solid #b9845e;
}